<div class="window">
    <div class="window-content" style="width:400px;margin-left:auto;margin-right:auto;">
        <div style="width: 333px;margin-right: auto;margin-left: auto;">
            <input type="radio" name="editList" id="even" value="1" />
            <label for="even">Par</label>
            <input type="radio" name="editList" id="odd" value="2" />
            <label for="odd">Impar</label>
            <input type="radio" name="editList" id="all" value="3" />
            <label for="all">Todo</label>
            <div id="btnPrint" style="position: absolute;margin-top: -28px;margin-left: 170px;"><a class='btn btn-primary btn-sm' href='#'>DOWNLOAD</a></div>
            <div style="position: absolute;margin-top: -28px;margin-left: 270px;"><a id="btnMail" class='btn btn-primary btn-sm' href='#'>SEND MAIL</a></div>
        </div>
    </div>
    <div class="window-content" style="margin-top: 5px;">

        <div class="row" style="margin:0px;">
            <div id="locations">

            </div>
        </div>
    </div>
</div>
    @section scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                $("#all").prop("checked", true);
                getLocations();
                updateLoc();
                //sendAutoMail();
                $("#even").click(function () {
                    //var radioValue = $("input[name='editList']:checked").val();
                    //alert(radioValue);
                    getEvenReport();
                });
                $("#odd").click(function () {
                    getOddReport();
                });
                $("#all").click(function () {
                    getAllReport();
                });
                $("#btnMail").click(function () {
                    sendMail();
                });
            });
        </script>
    }
